
@{
    ViewBag.Title = "ElectricityCharge";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<div class="row">
    <h3 class="pb-3 txtmycolor fw-bold text-center">Electricity Charges</h3>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <!-- No Labels Form -->
                <form class="row g-3 pt-2" method="post">
                    <div class="col-md-12">
                        <label style="margin-bottom:-20px">Unit Charge</label>
                        <input type="text" class="form-control" name="unit_charge" required placeholder="Enter Unit Charge">
                    </div>
                    <div class="col-md-12">
                        <label style="margin-bottom:-20px">Fixed Electricity Charge</label>
                        <input type="text" class="form-control" name="fixed_electricity_charge" required placeholder="Enter Fixed Electricity charge">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-outline-secondary bgmycolor text-light">Add Now</button>
                    </div>
                </form><!-- End No Labels Form -->

            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @{
            if (ViewBag.data != null)
            {
                if (ViewBag.data.Rows.Count > 0)
                {
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Sn.</th>
                                <th>Unit Charge</th>
                                <th>Fixed Electricity Charge</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }
                            @foreach (var row in ViewBag.data.Rows)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@row[1]</td>
                                    <td>@row[2]</td>
                                    <td>@row[3]</td>
                                    <td>
                                        <button class="btn btn-success"><i class="bi bi-pencil"></i></button>
                                        <button class="btn btn-danger"><a href="/Admin/deleteElectricityCharge?sr=@row[0]" class="bi bi-trash text-white"></a></button>
                                    </td>
                                </tr>
                                { i = i + 1; }
                            }

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                }
            }
        }
    </div>
</div>

